/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Starability Rating Form */
.starability-basic {
  min-height: 0;
}

.container .text-muted {
  margin: 20px 0;
}

/* Thumbnail styles */
.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

/* Google Map styles */
#map {
  height: 400px;
  width: 100%;
}

/* Campground show page delete button */
.delete-form {
  display: inline-block;
}

/* Flexbox grid fix */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.btn-primary {
  background: #06d7d9 !important;
  border-color: #06d7d9 !important;
  box-shadow: 0 5px #00A4A6 !important;
}

.btn-primary:hover {
  background: #06d7d9 !important;
  border-color: #06d7d9 !important;
  box-shadow: 0 0 #00A4A6 !important;
  top: 5px !important;
}

.btn {
  transition: all 0.3s ease !important;
  transform: translateY(4px);
}

.btn:active {
  opacity: 0.9 !important;
  box-shadow: 0 3px #00a4a6 !important;
  top: 1px !important;
}

#center-right {
  margin-bottom: 40px;
  float: right;
}
